h1, h2, h3, h4, h5, h6, li, a, p {
  font-family: 'Alegreya Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  padding: 10px;
}

body {
    background-image: url(images/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 10;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8%;
  color: #b4b6ba;
  padding: 20px;
  margin: 15% auto 0;
  width: 320px;
}
